<h1 id="title" class="title"> Login</h1>

<form (ngSubmit)="login()" [formGroup]="loginForm" aria-labelledby="title">

    <div class="form-control-group">
        <label class="label" for="input-email">User Name</label>
        <input nbInput fullWidth formControlName="username" name="username" placeholder="User Name">
        <p class="caption status-danger" *ngIf="loginForm.hasError('required','username')">
            Username is required!
        </p>
        <p class="caption status-danger" *ngIf="loginForm.hasError('nouser','username')">
            User does not exist!
        </p>
    </div>

    <div class="form-control-group">
        <span class="label-with-link">
            <label class="label" for="input-password">Password:</label>
        </span>
        <input nbInput fullWidth formControlName="password" name="password" type="password">
        <p class="caption status-danger" *ngIf="loginForm.hasError('required','password')">
            Password is required!
        </p>
        <p class="caption status-danger" *ngIf="loginForm.hasError('pwdwrg','password')">
            Password is wrong
        </p>
    </div>


    <button nbButton fullWidth status="primary" type="submit" size="large">Submit</button>
</form>