<div class="row col-sm-12">
    <div class="col-sm-5">
        <nb-card style="height: 80vh;">
            <nb-card-header>
                <div class="heading">Request List</div>
                <hr>
                <div class="row col-sm-12" style="padding: 0;">
                    <div class="col-sm-7 offset-1 ">Book</div>
                    <div class="col-sm-3 offset-1 ">Action</div>
                </div>
            </nb-card-header>
            <nb-list>
                <nb-list-item *ngFor="let item of requestList">
                    <div class="row col-sm-12" style="padding: 0;">
                        <div class="col-sm-8 tableHead">{{ item.book.name }}</div>
                        <div class="col-sm-4 tableHead"> <button (click)="deleteRequest(item)" nbButton status="danger" shape='round' ghost><nb-icon icon="trash-alt" pack='regular'></nb-icon></button></div>
                    </div>
                </nb-list-item>
            </nb-list>
        </nb-card>
    </div>
    <div class="col-sm-7">
        <nb-card style="height: 80vh;">
            <nb-card-header>
                <div class="heading">My Issue List</div>
            </nb-card-header>
            <nb-card-body>
                <table class="issuetable" style="width: 100%;">
                    <tr>
                        <th class="issueHead">Book</th>
                        <th class="issueHead">Take Home</th>
                        <th class="issueHead">Approval</th>
                        <th class="issueHead">Issued Time</th>
                        <th class="issueHead">Returned Time</th>
                        <th class="issueHead">Action</th>
                    </tr>
                    <tr *ngFor="let item of issuedList; " class="eachIssue">
                        <td class="issueData">{{ item.book.name }}</td>
                        <td class="issueData "> <span *ngIf="item.takehome; else printNo"><nb-icon icon="check" status="success" pack='solid'></nb-icon></span> </td>
                        <td class="issueData "> <span *ngIf="item.approval; else printNo"><nb-icon icon="check" status="success" pack='solid'></nb-icon></span> </td>
                        <td class="issueData "> <span *ngIf="item.approval else noData">{{ item.issuedtime }}</span> </td>
                        <td class="issueData "> <span *ngIf="item.returntime else noData">{{ item.returntime }}</span></td>
                        <td class="issueData " >
                            <div style="display: flex;">
                                <button (click)="returnIssue(item)" *ngIf="!item.returntime && item.approval" nbButton status="primary" title="Return Book" shape='round' ghost>Return</button>
                                <button (click)="deleteIssue(item)" *ngIf="item.returntime || !item.approval" nbButton status="danger" shape='round' ghost>Delete</button>
                            </div>
                        </td>
                    </tr>
                    <ng-template #printNo><nb-icon icon="times" status="danger" pack='solid'></nb-icon></ng-template>
                    <ng-template #noData>-</ng-template>
                    
                    
                </table>
            </nb-card-body>
        </nb-card>
    </div>
</div>